# {{ ansible_managed }}
{% for key in users_root_authorized_keys %}

{% if "description" in key %}
# {{ key.description }}
{% endif %}
{% if "options" in key %}{{ key.options }} {% endif %}{{ key.key }}{% if key.comment %} {{ key.comment }}{% endif %}

{% endfor %}
