# {{ ansible_managed }}
{% for key in _users_user.authorized_keys %}

{% if "description" in key %}
# {{ key.description }}
{% else %}
# (no description)
{% endif %}
{% if _users_ssh_pubkey_options is defined %}{{ users_adfinis_ssh_pubkey_options }} {% endif %}{% if "options" in key %}{{ key.options }} {% endif %}{{ key.key }}{% if key.comment %} {{ key.comment }}{% endif %}

{% endfor %}
